@font-face {
	font-family: "Inter";
	src: url(/assets/fonts/Inter-Regular.otf);
}
@font-face {
	font-family: "Azeret-mono";
	src: url(/assets/fonts/AzeretMono-Regular.ttf);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.header_block_caffe {
	background-color: #4A2B33;
}
.wrapper {
	max-width: 1440px;
	padding: 0px 56px;
	margin: 0 auto;
}
.header_caffe {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	height: 120px;
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.menu_item {
	color: #D27487;
	font-size: 15px;
	font-family: "Inter";
}
/* .logo {

} */
.mess {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.block_img {
	padding: 0px 0px 36px 0px;
	max-width: 100%;
	width: 100%;
}
.block_img > img{
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}


/* ABOUT US */

.about_us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 713px;
}
.about {
	font-family: "Azeret-mono";
	font-size: 17px;
	margin: 0px 0px 3px 0px;
}
.about_text {
	font-family: "Inter";
	width: 870px;
	font-size: 32px;
	text-align: center;
}


/* MENU */


.menu_block {
	background-color: #E9E9E3;
}
.menu_block_items {
	display: flex;
	gap: 25px;
	justify-content: space-between;
	padding: 120px 0px;
}
.menu_block_item {
	display: flex;
	flex-direction: column;
}
.menu_block_title {
	font-family: 'Azeret Mono';
	font-size: 18px;
	color: #6F6F64;
}
.menu_block_text {
	font-family: 'Inter';
	font-size: 32px;
	color: #6F6F64;

	max-width: 558px;
	margin: 17px 0px 74px 0px;
}
.menu_block_button {
	border: 2px solid #6F6F64;
	margin: 0px 0px 12px 0px;

	max-width: 531px;
	width: 100%;
	height: 58px;
	cursor: pointer;

	color: #6F6F64;
	font-family: 'Inter';
	font-size: 15px;
}

.active {
	background-color: #6F6F64;
	color: #fff;
}

.menu_block_button:hover {
	background-color: #adad9c;
	color: #fff;
}

.menu_block_item_img {
	width: 664px;
	height: 1037px;
}
.menu_block_item_img > img{
	width: 664px;
	height: 1037px;
	object-fit: contain;
}


/* LOCATION */

.location_block {
	background-color: #AA9E54;
}

.location_items {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 473px;
}

.location {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 20px;
	width: 100%;
}

.location_item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.location_title {
	color: #fff;
	text-align: center;
	font-family: "Azeret-mono";
	font-size: 18px;
	margin: 0px 0px 15px 0px;
}

.location_text_block {
	margin: 0px 0px 35px 0px;
}

.location_text {
	color: #fff;
	text-align: center;
	font-family: "Inter";
	font-size: 25px;
	max-width: 352px;
}


/* IMGS */

.imgs_block {
	display: flex;
	gap: 40px;
	margin: 152px 0px 120px 0px;
}
.img_items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.img_item {
	max-width: 664px;
	width: 100%;
	height: 100%;
}
.img_item > img {
	max-width: 664px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.d_img_item {
	max-height: 300px;
	height: 100%;
	max-width: 664px;
	width: 100%;
}
.d_img_item > img {
	max-height: 300px;
	height: 100%;
	max-width: 664px;
	width: 100%;
	object-fit: cover;
}


/* AWARD */

.award_block {
	background-color: #4A2B33;
	padding: 120px 0px 130px 0px;
}
.award_items {
	display: flex;
	align-items: baseline;
	gap: 16px;
}
.award_item {
	width: 50%;
}
.award_title {
	color: #D27487;
	width: 413px;

	font-family: "Azeret-mono";
	font-size: 47px;
}
.award_text {
	color: #D27487;
	width: 595px;

	font-family: "Inter";
	font-size: 18px;
}

/* FOOTER */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 56px 0px 39px 0px;
	background-color: #FFFFFF;
}
.footer_container {
	display: flex;
	flex-direction: column;
	gap: 19px;
	margin: 0px 38px;
}
.footer_menu_items {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.footer_menu_item {
	display: flex;
	justify-content: space-between;
	gap: 32px;

}
.footer_menu_text {
	font-family: "Inter";
	font-size: 15px;
	color: #1F1F1F;
}
.footer_info {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.footer_info_text {
	font-family: "Inter";
	font-size: 13px;
	color: #696969;
}